<div class="title-bar">
  <div class="title-bar-left">
    <button class="menu-icon" type="button" data-open="offCanvas">
    <span class="title-bar-title">Dropped</span></button>
  </div>
  <a class="title-bar-right" href="#">LOGOUT</a>
</div>

<section class="songs-section">
  <!--<%= image_tag 'logo.png', class: 'page-logo'%>-->
  <article>
    <form>
      <div class="medium-10 medium-offset-1 columns" id="songs-container">
        <table style="border-spacing: 0">
          <tbody>
            <% @songs.each do |s| %>
              <tr>
                <td>
                  <h4><%= s[:name] %></h4>
                  <p><%= s[:genre] %></p>
                </td>
                <td width="120"><button type="submit" class="button"><i class="material-icons">pin_drop</i></button></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </form>
  </article>
</section>

<div class="upload row">
  <button type="submit" class="button">UPLOAD NEW SONG</button>
</div>
